*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

section{
    width: 250px;
    display: flex;
}

button{
    background: lightgreen;
}

#output{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
